.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
       gap: 2rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 2rem 1rem;
    border-radius: 10px;
     border: 2px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-bg-variant);
    background: transparent;
}

.portfolio__item-image {
    /* border-radius: inherit; */
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.5rem 0;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}



/* =========================MEDIA QUERIES FOR TAB =============================  */
@media (max-width:1024px) {
    .portfolio__container {
        gap: 1.3rem;
        grid-template-columns: repeat(2,1fr);
    }


}

/* =========================MEDIA QUERIES FOR PHONES =============================  */
@media (max-width:600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;

    }

    .portfolio__item {
        width: 95%;
        margin: 0 auto;
    }


}