footer {
    background: var(--color-primary);
    padding: 3rem 0 1rem;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 2rem;
}

footer a {
    color: var(--color-bg);
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    font-size: 0.8rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.footer-socials a {
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer-socials a:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer-copyright {
    margin-bottom: 2rem;
    color: var(--color-bg-variant);
    font-size: 1rem;
}


/* *************MEDIA QUERIES (SMALL DEVICE)*********** */
 
@media  screen and (max-width: 600px) {
   .permalinks {
       flex-direction: column;
       gap: 1.5rem;
   }
 }